<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>web-nadiyati-collection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="<%= BASE_URL %>template/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="<%= BASE_URL %>template/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="<%= BASE_URL %>template/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="<%= BASE_URL %>template/css/nouislider.min.css"/>

    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/vendor/css-hamburgers/hamburgers.min.css">

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/css/util.css">
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/css/main.css">

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/vendor/animsition/css/animsition.min.css">

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/vendor/select2/select2.min.css">

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>template2/vendor/daterangepicker/daterangepicker.css">

		<!-- Font Awesome Icon -->
    <link rel="stylesheet" href="<%= BASE_URL %>template/css/font-awesome.min.css">
      <link rel="stylesheet" href="<%= BASE_URL %>template/css/style.css">

		<!-- Custom stlylesheet -->

  </head>
  <body>
    <noscript>
      <strong>We're sorry but web-nadiyati-collection doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>template/js/jquery.min.js"></script>
    <script src="<%= BASE_URL %>template2/vendor/animsition/js/animsition.min.js"></script>

    <script src="<%= BASE_URL %>template2/vendor/bootstrap/js/popper.js"></script>

    <script src="<%= BASE_URL %>template2/vendor/select2/select2.min.js"></script>

    <script src="<%= BASE_URL %>template2/vendor/daterangepicker/moment.min.js"></script>

    <script src="<%= BASE_URL %>template2/vendor/countdowntime/countdowntime.js"></script>

    <script src="<%= BASE_URL %>template2/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="<%= BASE_URL %>template/js/bootstrap.min.js"></script>
    <script src="<%= BASE_URL %>template/js/slick.min.js"></script>
    <script src="<%= BASE_URL %>template/js/nouislider.min.js"></script>
    <script src="<%= BASE_URL %>template/js/jquery.zoom.min.js"></script>
    <script src="<%= BASE_URL %>template/js/main.js"></script>
  </body>
</html>
