<template>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <v-row>

                <v-col cols="4" md="7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Alamat Pengiriman</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="Nama Depan">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="Nama Belakang">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Alamat">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Kota">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="Provinsi">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="Kode POS">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Nomor Telepon">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="create-account">
                                <label for="create-account">
                                    <span></span>
                                    Belum mempunyai Akun?
                                </label>
                                <div class="caption">
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <input class="input" type="password" name="password" placeholder="Enter Your Password"> -->
                                    <router-link to="/#" class="primary-btn ">DAFTAR</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Billing Details -->

                    <!-- Shiping Details -->
                    <!-- <div class="shiping-details">
                        <div class="section-title">
                            <h3 class="title">Alamat Pengiriman Dropshipper</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shiping-address">
                            <label for="shiping-address">
                                <span></span>
                                Kirim ke alamat berbeda?
                            </label>
                            <div class="caption">
                                <div class="form-group">
                                    <input class="input" type="text" name="first-name" placeholder="Nama Depan">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="last-name" placeholder="Nama Belakang">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="Alamat">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="city" placeholder="Kota">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="country" placeholder="Negara">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="zip-code" placeholder="Kode POS">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="tel" placeholder="Nomor Telepon">
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- /Shiping Details -->

                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Catatan Lainnya"></textarea>
                    </div>
                    <!-- /Order notes -->
                </v-col>

                <!-- Order Details -->
                <v-col cols="4" md="5" class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Barang Anda</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUK</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="order-col" v-for="(item, index) in section" :key="index">
                                <div>{{item.qty}}x {{item.merek}}</div>
                                <div>RP {{item.harga}}</div>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>Ongkir</div>
                            <div><strong>FREE ONGKIR</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL KESELURUHAN</strong></div>
                            <div><strong class="order-total">RP 360.000</strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Transfer Antar Bank
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Bayar di Toko
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3">
                            <label for="payment-3">
                                <span></span>
                                Paypal System
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms" v-model="checked">
                        <label for="terms">
                            <span></span>
                            Saya sudah membaca dan menyetujui <router-link to="/product">syarat dan kondisi</router-link>
                        </label>
                    </div>
                    <button class="primary-btn order-submit" @click="bayar">B A Y A R</button>
                </v-col>
                <!-- /Order Details -->
            </v-row>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</template>
<script>
export default {
    data() {
        return {
            checked: false,
            section: [
                {
                    merek: "Abdul Men Fashion",
                    harga: "180.000",
                    qty: 1
                },
                {
                    merek: "Muslimah Okky",
                    harga: "180.000",
                    qty: 1
                }
            ]
        }
    },
    methods:{
        bayar(){
            if (this.checked) {
                this.$router.push("/lacak");
            }else{
                console.log("nadiyati 404");
            }
        }
    }
}
</script>
