<template>
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <v-row wrap>
                    <v-col cols="12" md="6">
                        <div class="footer">
                            <h3 class="footer-title">Tentang Nadiyati Collection</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.<br></p>
                            <ul class="footer-links">
                                <li><router-link to="/"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</router-link></li>
                                <li><router-link to="/"><i class="fa fa-phone"></i>+021-95-51-84</router-link></li>
                                <li><router-link to="/"><i class="fa fa-envelope-o"></i>email@email.com</router-link></li>
                            </ul>
                        </div>
                    </v-col>

                    <v-col cols="12" md="3">
                        <div class="footer">
                            <h3 class="footer-title">Kategori</h3>
                            <ul class="footer-links">
                                <li>
                                    <router-link to="/">Beranda</router-link>
                                </li>
                                <li v-for="(item, index) in section" :key="index">
                                    <router-link :to="'/list/'+item.kategori_id">
                                    Pakaian {{item.kategori_nama}}
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </v-col>

                    <div class="clearfix visible-xs"></div>

                    <v-col cols="12" md="3">
                        <div class="footer">
                            <h3 class="footer-title">Layanan Kami</h3>
                            <ul class="footer-links">
                                <li><router-link to="/profile">Akunku</router-link></li>
                                <li><router-link to="#">Notifikasi</router-link></li>
                                <li><router-link to="/checkout">Checkout</router-link></li>
                                <li><router-link to="#">Help</router-link></li>
                            </ul>
                        </div>
                    </v-col>
                </v-row>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

    </footer>

</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
            section: [
                {
                    kategori_nama: "",
                    kategori_id: ""
                }
            ]
        }
    },
    created(){
        axios.get('http://api-nadiyati.proses.xyz/api/beranda/get')
        .then(r => {
            this.section = r.data.section1
            // console.log(this.section)
        })
    }
}
</script>
