<template>
    <header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right">
                <li><router-link to="/"><i class="fa fa-download" style="color: #ffffff;"></i>Download App</router-link></li>
                <!-- <li><router-link to="/login"><i class="fa fa-user-o" style="color: #ffffff;"></i> Name</router-link></li> -->
                <li><router-link to="/login"><i class="fa fa-user-o" style="color: #ffffff;"></i> Login</router-link></li>
                <!-- <li><router-link to="/login"><i class="fa fa-user-o" style="color: #ffffff;"></i> Logout</router-link></li> -->
            </ul>
        </div>
    </div>
    </header>
</template>
<script>
import axios from 'axios';
var _ = require('lodash');
export default {
    data() {
        return {
            form : {}
        }
    },
    created(){
        let token = window.localStorage.getItem("token")
        if (token != null) {
            this.getdatauser(token)
        }
    },
    methods:{
        getdatauser(token){
            let url = 'http://api-nadiyati.proses.xyz/api/user';
            axios.post(url, {
                headers: {Authorization : token}
            })
            .then(r => {
                console.log(r.data);
            })
        }
    }
}
</script>
