<template>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <v-row>

                <v-col cols="6" md="7">
                    <div class="billing-details">
                    <div class="section-title text-center">
                        <h3 class="title">18734683241287</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Status Pengiriman</strong></div>
                            <div><strong>Tanggal</strong></div>
                        </div>
                        <div class="order-col">
                            <div>Berada di kantor pengiriman</div>
                            <div>20-11-2019</div>
                        </div>
                        <div class="order-col">
                            <div>Sedang di Proses</div>
                            <div>19-12-2019</div>
                        </div>
                        <div class="order-col">
                            <div>Konfirmasi diterima</div>
                            <div>19-12-2019</div>
                        </div>
                        <div class="order-col">
                            <div>Konfirmasi diproses</div>
                            <div>19-12-2019</div>
                        </div>
                    </div>
                    </div>
                </v-col>

                <v-col cols="6" md="5" class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Barang Anda</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUK</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="order-col" v-for="(item, index) in section" :key="index">
                                <div>{{item.qty}}x {{item.merek}}</div>
                                <div>RP {{item.harga}}</div>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>Ongkir</div>
                            <div><strong>FREE ONGKIR</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL KESELURUHAN</strong></div>
                            <div><strong class="order-total">RP 360.000</strong></div>
                        </div>
                    </div>
                </v-col>
                <!-- /Order Details -->
            </v-row>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</template>
<script>
export default {
    data() {
        return {
            checked: false,
            section: [
                {
                    merek: "Abdul Men Fashion",
                    harga: "180.000",
                    qty: 1
                },
                {
                    merek: "Muslimah Okky",
                    harga: "180.000",
                    qty: 1
                }
            ]
        }
    }
}
</script>
