<template>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <v-row>
                <!-- ASIDE -->
                <v-col cols="12" md="3" id="aside">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Kategori</h3>
                        <div class="checkbox-filter">
                            <v-checkbox
                            :value="item.kategori_id" v-model="checkedKategori"
                             :id="item.kategori_nama"
                            :label="item.kategori_nama"
                            v-for="(item, index) in section" :key="index"
                            >
                            </v-checkbox>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Harga</h3>
                        <div class="price-filter">
                            <!-- <div id="price-slider"></div> -->
                            <div class="input-number price-min">
                                <input id="price-min" v-model="priceMin"  type="number">
                                <!-- <span class="qty-up">+</span>
                                <span class="qty-down">-</span> -->
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" v-model="priceMax" type="number">
                                <!-- <span class="qty-up">+</span>
                                <span class="qty-down">-</span> -->
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Menampilkan</h3>
                        <div class="price-filter">
                            <label>
                                Menampilkan:
                                <select class="input-select" v-model="showList">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Merek</h3>
                        <div class="checkbox-filter">
                            <v-checkbox
                            :value="item.produk_checked" v-model="item.produk_checked"
                            :id="item.merek_nama"
                            v-for="(item, index) in section2" :key="index"
                            >
                            <label slot="label">{{item.merek_nama}}
                                <small>({{item.produk_merek_qty}})</small>
                            </label>
                            </v-checkbox>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <div class="checkbox-filter">
                            <button class="primary-btn order-submit" @click="getdata()">F I L T E R</button>
                            <button class="primary-btn order-submit" @click="reset()">R E S E T</button>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Terlaris</h3>
                        <div class="product-widget" v-for="(item, index) in section3" :key="index">
                            <div class="product-img">
                                <v-img :src="item.img"></v-img>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{item.category}}</p>
                                <h3 class="product-name"><router-link :to="item.link">{{item.merek}}</router-link></h3>
                                <h4 class="product-price">RP {{item.price}} <del class="product-old-price">RP {{item.oldprice}}</del></h4>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                </v-col>
                <!-- /ASIDE -->

                <!-- STORE -->
                <v-col cols="12" md="9" id="store">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Urutkan dari:
                                <select class="input-select">
                                    <option value="0">Terbaru</option>
                                    <!-- <option value="1">Terlaris</option> -->
                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <!-- <li><a href="#"><i class="fa fa-th-list"></i></a></li> -->
                        </ul>
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->
                    <v-row>
                        <!-- product -->
                        <v-col cols="6" md="3" v-for="(item, index) in section4" :key="index">
                            <div class="product">
                                <div class="product-img">
                                    <v-img :src="item.produk_gambar"></v-img>
                                    <div class="product-label">
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{item.merek.merek_nama}}</p>
                                    <h3 class="product-name"><router-link :to="'/product/'+item.produk_id">{{item.produk_nama}}</router-link></h3>
                                    <h4 class="product-price">RP {{item.produk_harga}}</h4>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Suka</span></button>
                                    </div>
                                    <div class="product-rating">
                                        <i class="fa fa-star" v-for="index in Math.floor(item.produk_bintang)" :key="index"></i>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn">Keranjang</button>
                                </div>
                            </div>
                        </v-col>
                        <!-- /product -->
                    </v-row>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Menampilkan 20 produk per halaman</span>
                        <ul class="store-pagination">
                            <li class="active">1</li>
                            <li><router-link to="/list">2</router-link></li>
                            <li><router-link to="/list">3</router-link></li>
                            <li><router-link to="/list">4</router-link></li>
                            <li><router-link to="/list"><i class="fa fa-angle-right"></i></router-link></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </v-col>
                <!-- /STORE -->
            </v-row>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</template>
<script>
import axios from 'axios';
var _ = require('lodash');
export default {
    data() {
        return {
            checkedKategori: null,
            checkedMerek: [],
            showList : 20,
            priceMin: 0,
            priceMax: 10000000,
            // checked: false,
            section: [
                {
                    kategori_p_id: "",
                    kategori_nama: ""
                    // qty: 125
                }
            ],
            section2: [],
            section3: [
                {
                    merek: "Muslimah Okky",
                    category: "Pakaian Wanita",
                    img: require('../../assets/foto/pakaian_wanita.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000"
                }
            ],
            section4: [
                {
                    kategori_nama: "",
                    merek:{merek_nama:""},
                    produk_nama: "",
                    produk_id: "",
                    produk_gambar: "",
                    produk_harga: "",
                    produk_bintang: ""
                }
            ]
        }
    },
    created(){
        this.getdata();
    },
    methods:{
        getdata(){
            let url = 'http://api-nadiyati.proses.xyz/api/produk/get?kategori[]='+this.$route.params.id+'&harga[]='+this.priceMin+'&harga[]='+this.priceMax;

            if (this.checkedKategori!=null) {
                url+='&kategori[]='+this.checkedKategori
            }

            if (this.showList!=null) {
                url+='&paginate='+this.showList
            }

            if (this.section2.length!=0) {
                this.section2.forEach((item , index)=>{
                   if (item.produk_checked == true){
                       url+='&merek[]='+item.merek_id
                   }
                })
            }

            console.log(url);
            axios.get(url)
            .then(r => {
            this.section = r.data.kategori;
            if (this.section2.length == 0) {
                (r.data.produk.data).map((k,v)=>{
                k.merek['produk_merek_qty']=k.produk_merek_qty;
                k.merek['produk_checked']=false;
                this.section2.push(k.merek);
            });
            }

            // this.section2 = _.uniqBy(this.section2, 'merek_id')
            // this.section2.shift();
            this.section4 = r.data.produk.data;
            // console.log(this.section2);
            })
        },
        reset(){
            // this.checkedMerek = [];
            this.section2.forEach((item , index)=>{
                item.produk_checked == false
            })
            this.getdata();
        }
    }
}
</script>
<style scoped>
    label{
        margin-bottom: 0px !important;
    }
</style>
