<template>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    SELAMAT DATANG
                </span>

                <div data-validate="validasi">
                    <span>{{validasi}}</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    <input v-model='form.email' class="input100" type="text" name="email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input v-model='form.password' class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button @click.prevent="postdata" class="login100-form-btn">
                            Masuk
                        </button>
                    </div>
                    <router-link to="/CekEmail" class="txt3">Lupa Password?</router-link>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Belum mempunyai Akun?
                    </span>

                    <router-link to="/daftar" class="txt2">Daftar</router-link>
                </div>
            </form>
        </div>
    </div>
</div>
</template>
<script>
import axios from 'axios';
var _ = require('lodash');
export default {
    data() {
        return {
            form : {},
            validasi : ''
        }
    },
    methods:{
        postdata(){
            // console.log("disini");
            let url = 'http://api-nadiyati.proses.xyz/api/login';
            // if (this.form.password == this.verfifedpassword) {
                // console.log("disini2");
                axios.post(url, this.form)
                .then(r => {
                    console.log(r.data);
                    window.localStorage.setItem('token', r.data);
                    // this.validasi = 'data berhasil di tambah';
                    this.$router.push({ name: 'Home' })
                })
                .catch(e =>{
                    console.log(e);
                })
            // }else{
            //     // console.log("disini4");
            //     this.validasi = 'data sudah pernah ditambah';
            // }
        }
    }
}
</script>
