<template>
    <div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <v-row wrap>
            <!-- LOGO -->
            <v-col cols="12" md="3">
                <router-link to="/">
                    <div class="header-logo">
                        <div class="logo">
                            <H1 style="color: white;">NADIYATI COLLECTION</H1>
                            <!-- <img src="/template/img/logo.png" alt=""> -->
                        </div>
                    </div>
                </router-link>
            </v-col>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <v-col cols="12" md="6">
                <div class="header-search">
                    <form>
                        <input class="input input-select" placeholder="Search here">
                        <v-btn color="#F56D91" style="height: 40px; width: 50px; font-weight: 700; border: none; border-radius: 0px 40px 40px 0px"><i style="color:#fff" class="fa fa-search"></i></v-btn>
                    </form>
                </div>
            </v-col>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <v-col cols="12" md="3" class="clearfix">
                <div class="header-ctn">
                    <!-- Wishlist -->
                    <div>
                        <router-link to="#">
                            <i class="fa fa-bell"></i>
                            <span>Notifikasi</span>
                            <div class="qty">2</div>
                        </router-link>
                    </div>
                    <!-- /Wishlist -->

                    <!-- Cart -->
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Keranjang</span>
                            <div class="qty">3</div>
                        </a>
                        <div class="cart-dropdown">
                            <div class="cart-list">
                                <div class="product-widget" v-for="(item, index) in section" :key="index">
                                    <div class="product-img">
                                        <v-img :src="item.img"></v-img>
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><router-link to="/product">{{item.merek}}</router-link></h3>
                                        <h4 class="product-price"><span class="qty">1x</span>RP {{item.harga}}</h4>
                                    </div>
                                    <v-btn style="height: 14px; width: 14px; text-align: center; font-size: 10px;background: #1e1f29; border: none; color: #FFF;"><i class="fa fa-close"></i></v-btn>
                                </div>
                            </div>
                            <div class="cart-summary">
                                <small>3 Item Terpilih</small>
                                <h5>SUBTOTAL: RP 360.000</h5>
                            </div>
                            <div class="cart-btns">
                                <router-link to="/product">View</router-link>
                                <router-link to="/checkout" @click="checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></router-link>
                            </div>
                        </div>
                    </div>
                    <!-- /Cart -->

                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <router-link to="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </router-link>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </v-col>
            <!-- /ACCOUNT -->
        </v-row>
        <!-- row -->
    </div>
    <!-- container -->
</div>
</template>
<script>
export default {
    data() {
        return {
            checked: false,
            section: [
                {
                    merek: "Abdul Men Fashion",
                    harga: "180.000",
                    img: require('../../assets/foto/pakaian_pria.jpg')
                },
                {
                    merek: "Muslimah Okky",
                    harga: "180.000",
                    img: require('../../assets/foto/pakaian_wanita.jpg')
                }
            ]
        }
    },
    methods:{
        checkout(){
            if (this.checked) {
                this.$router.push("/checkout");
            }else{
                console.log("nadiyati 404");
            }
        }
    }
}
</script>
