<template>
    <nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <!-- class="active" -->
                <li>
                    <router-link to="/">
                    Beranda
                    </router-link>
                </li>
                <li v-for="(item, index) in section" :key="index">
                    <router-link :to="'/list/'+item.kategori_id">
                    Pakaian {{item.kategori_nama}}
                    </router-link>
                </li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
            section: [
                {
                    kategori_nama: "",
                    kategori_id: ""
                }
            ]
        }
    },
    created(){
        axios.get('http://api-nadiyati.proses.xyz/api/beranda/get')
        .then(r => {
            this.section = r.data.section1
            // console.log(this.section)
        })
    }
}
</script>
