<template>
    <div class="section">
        <div class="container">
            <!-- row -->
            <v-row>

                <v-col cols="12" md="12">
                    <div class="section-title text-center">
                        <h3 class="title">Produk Serupa</h3>
                    </div>
                </v-col>

                <!-- product -->
                <v-col cols="6" md="2" v-for="(item, index) in section" :key="index">
                    <div class="product">
                        <div class="product-img">
                            <v-img :src="item.img"></v-img>
                            <div class="product-label">
                                <span class="sale" v-show="item.sale!=''">{{item.sale}}</span>
                                <span class="new">{{item.status}}</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{item.jenis}}</p>
                            <h3 class="product-name"><router-link :to="item.link">{{item.merek}}</router-link></h3>
                            <h4 class="product-price">RP {{item.price}} <del class="product-old-price">RP {{item.oldprice}}</del></h4>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Suka</span></button>
                            </div>
                            <div class="product-rating">
                                <i class="fa fa-star" v-for="index in item.rating" :key="index"></i>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn">Keranjang</button>
                        </div>
                    </div>
                </v-col>
                <!-- /product -->
            </v-row>
            <!-- /row -->
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            section: [
                {
                    jenis: "Pakaian Wanita",
                    merek: "Muslimah Okky",
                    img: require('../../assets/foto/pakaian_wanita.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000",
                    status: "NEW",
                    sale: "-30%",
                    rating: 5
                },
                {
                    jenis: "Pakaian Pria",
                    merek: "Muslim Gunawan",
                    img: require('../../assets/foto/pakaian_pria.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000",
                    status: "NEW",
                    sale: "",
                    rating: 3
                },
                {
                    jenis: "Aksesoris",
                    merek: "Flanel",
                    img: require('../../assets/foto/aksesoris.jpeg'),
                    link: "/product",
                    price: "80.000",
                    oldprice: "110.000",
                    status: "NEW",
                    sale: "",
                    rating: 4
                },
                {
                    jenis: "Pakaian Wanita",
                    merek: "Muslimah Okky",
                    img: require('../../assets/foto/pakaian_wanita.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000",
                    status: "NEW",
                    sale: "-30%",
                    rating: 5
                },
                {
                    jenis: "Pakaian Pria",
                    merek: "Muslim Gunawan",
                    img: require('../../assets/foto/pakaian_pria.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000",
                    status: "NEW",
                    sale: "",
                    rating: 3
                },
                {
                    jenis: "Aksesoris",
                    merek: "Flanel",
                    img: require('../../assets/foto/aksesoris.jpeg'),
                    link: "/product",
                    price: "80.000",
                    oldprice: "110.000",
                    status: "NEW",
                    sale: "",
                    rating: 4
                }
            ]
        }
    }
}
</script>
