<template>
    <!-- container -->
        <div class="container">
        <!-- row -->
            <v-row>
                <div v-for="(item, index) in section2" :key="index">
                    <v-col cols="12" md="12" style="margin-top: -100px;">
                        <div id="product-tab">
                            <!-- product tab nav -->
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Reviews</a></li>
                            </ul>
                            <!-- /product tab nav -->

                            <!-- product tab content -->
                            <div class="tab-content">
                                <!-- tab1  -->
                                <div id="tab1" class="tab-pane fade in active">
                                    <v-row>
                                        <!-- Rating -->
                                        <v-col cols="12" md="3">
                                            <div id="rating">
                                                <div class="rating-avg">
                                                    <span>{{item.review.review_bintang}}</span>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star" v-for="index in item.review.review_bintang" :key="index"></i>
                                                    </div>
                                                </div>
                                                <!-- <ul class="rating">
                                                    <li v-for="(item, index) in section2" :key="index"  v-show="item.vote!=''">
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star" v-for="index in item.rating" :key="index"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: 100%;"></div>
                                                        </div>
                                                        <span class="sum">{{item.rating}}</span>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </v-col>
                                        <!-- /Rating -->

                                        <!-- Reviews -->
                                        <v-col cols="12" md="6">
                                            <div id="reviews">
                                                <!-- <ul class="reviews">
                                                    <li v-for="(item, index) in section" :key="index">
                                                        <div class="review-heading">
                                                            <h5 class="name">Jhon</h5>
                                                            <p class="date">00-00-0000</p>
                                                            <div class="review-rating">
                                                                <i class="fa fa-star" v-for="index in Math.floor(item.review_bintang)" :key="index"></i>
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{item.review_komentar}}</p>
                                                        </div>
                                                    </li>
                                                </ul> -->
                                                <ul class="reviews-pagination">
                                                    <li class="active">1</li>
                                                    <li><router-link to="/list">2</router-link></li>
                                                    <li><router-link to="/list">3</router-link></li>
                                                    <li><router-link to="/list">4</router-link></li>
                                                    <li><router-link to="/list"><i class="fa fa-angle-right"></i></router-link></li>
                                                </ul>
                                            </div>
                                        </v-col>
                                        <!-- /Reviews -->

                                        <!-- Review Form -->
                                        <v-col cols="12" md="3">
                                            <div id="review-form">
                                                <form class="review-form">
                                                    <input class="input" type="text" placeholder="Your Name">
                                                    <input class="input" type="email" placeholder="Your Email">
                                                    <textarea class="input" placeholder="Your Review"></textarea>
                                                    <div class="input-rating">
                                                        <span>Your Rating: </span>
                                                        <div class="stars">
                                                            <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                            <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                            <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                            <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                            <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn">Submit</button>
                                                </form>
                                            </div>
                                        </v-col>
                                        <!-- /Review Form -->
                                    </v-row>
                                </div>
                                <!-- /tab1  -->
                            </div>
                            <!-- /product tab content  -->
                        </div>
                    </v-col>
                </div>
            </v-row>
        </div>
</template>
<script>
import axios from 'axios';
var _ = require('lodash');
export default {
    data() {
        return {
            section2: [
            ]
        }
    },
    created(){
        this.getdata();
    },
    methods:{
        getdata(){
            let url = 'http://api-nadiyati.proses.xyz/api/edit/produk/'+this.$route.params.id;
            axios.get(url)
            .then(r => {
                console.log(r);
                this.section2 = r.data;
            })
        }
    }
}
</script>
