<template>
    <div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div v-for="(item, index) in section" :key="index">
            <v-row>
                <!-- Product main img -->

                    <v-col cols="12" md="6">
                        <div id="product-main-img">
                            <div class="product-preview">
                                <v-img :src="item.produk_gambar"></v-img>
                            </div>
                        </div>
                    </v-col>
                    <!-- /Product main img -->

                    <!-- Product details -->
                    <v-col cols="12" md="6">
                        <div class="product-details">
                            <h2 class="product-name">{{item.produk_nama}}</h2>
                            <div>
                                <div class="product-rating">
                                    <i class="fa fa-star" v-for="index in Math.floor(item.produk_bintang)" :key="index"></i>
                                </div>
                                <p class="review-link">3 Review(s)</p>
                            </div>
                            <div>
                                <h3 class="product-price">RP {{item.produk_harga}}</h3>

                                <span class="product-available" v-show=" item.produk_stok.stok_qty!=''">Ready Stock</span>
                            </div>
                            <p>{{item.produk_deskripsi}}</p>

                            <div class="product-options">
                                <span class="product-available">
                                    Stock = {{item.produk_stok.stok_qty}}
                                </span>
                                <span class="product-available">
                                    Size = {{item.ukuran.ukuran_nama}}
                                </span>
                            </div>

                            <div class="add-to-cart">
                                <div class="qty-label">
                                    Qty
                                    <div class="input-number">
                                        <input type="number">
                                    </div>
                                </div>
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Keranjang</button>
                            </div>

                            <ul class="product-btns">
                                <li><router-link to="/product"><i class="fa fa-heart-o"></i> Suka Produk</router-link></li>
                            </ul>

                            <ul class="product-links">
                                <li>Kategori:</li>
                                <li><router-link to="/product">{{item.kategori.kategori_nama}}</router-link></li>
                            </ul>
                        </div>
                    </v-col>
                    <!-- /Product details -->
            </v-row>
            <br>
            <v-row>
                <v-col cols="12" md="12" style="margin-top: -100px;">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Reviews</a></li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <v-row>
                                    <!-- Rating -->
                                    <v-col cols="12" md="3">
                                        <div id="rating" >
                                            <div class="rating-avg">
                                                <span>Rating</span><br>
                                                <span>{{ratabintang}}</span>
                                            </div>
                                        </div>
                                    </v-col>
                                    <!-- /Rating -->

                                    <!-- Reviews -->
                                    <v-col cols="12" md="6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                <li v-for="(item, index) in section2" :key="index">
                                                    <div class="review-heading">
                                                        <h5 class="name">Jhon</h5>
                                                        <p class="date">00-00-0000</p>
                                                        <div class="review-rating">
                                                            <i class="fa fa-star" v-for="index in Math.floor(item.review_bintang)" :key="index"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>{{item.review_komentar}}</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- <ul class="reviews-pagination">
                                                <li class="active">1</li>
                                                <li><router-link to="/list">2</router-link></li>
                                                <li><router-link to="/list">3</router-link></li>
                                                <li><router-link to="/list">4</router-link></li>
                                                <li><router-link to="/list"><i class="fa fa-angle-right"></i></router-link></li>
                                            </ul> -->
                                        </div>
                                    </v-col>
                                    <!-- /Reviews -->

                                    <!-- Review Form -->
                                    <v-col cols="12" md="3">
                                        <div id="review-form">
                                            <form class="review-form">
                                                <input class="input" type="text" placeholder="Your Name">
                                                <input class="input" type="email" placeholder="Your Email">
                                                <textarea class="input" placeholder="Your Review"></textarea>
                                                <div class="input-rating">
                                                    <span>Your Rating: </span>
                                                    <div class="stars">
                                                        <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                        <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                        <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                        <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                        <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                    </div>
                                                </div>
                                                <button class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </v-col>
                                    <!-- /Review Form -->
                                </v-row>
                            </div>
                            <!-- /tab1  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </v-col>
            </v-row>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
</template>
<script>
import axios from 'axios';
var _ = require('lodash');
export default {
    data() {
        return {
            section: [
            ],
            section2: [

            ],
            ratabintang : 0
        }
    },
    created(){
        this.getdata();
    },
    methods:{
        getdata(){
            let url = 'http://api-nadiyati.proses.xyz/api/edit/produk/'+this.$route.params.id;
            axios.get(url)
            .then(r => {
                console.log(r.data[0].review);
                this.section = r.data;
                this.section2 = r.data[0].review;
                let totalbintang = 0;
                r.data[0].review.forEach(item => {
                    totalbintang += item.review_bintang
                });
                this.ratabintang = totalbintang / r.data[0].review.length;
                console.log(this.ratabintang);
            })
        }
    }
}
</script>
