<style scoped>
.theme--light.v-application {
    background: none !important
}
</style>
<template>
<!-- SECTION -->
<div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <v-row wrap>
                <!-- shop -->
                <v-col cols="12" md="4" v-for="(item, index) in section" :key="index">
                    <router-link :to="'/list/'+item.kategori_id">
                    <div class="shop">
                        <div class="shop-img">
                            <v-img :src="item.produk_gambar"></v-img>
                        </div>
                        <div class="shop-body">
                            <h3>Pakaian<br>{{item.kategori_nama}}</h3>
                        </div>
                    </div>
                    </router-link>
                </v-col>
                <!-- /shop -->
            </v-row>
        </div>
    </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            section: [
                {
                    kategori_nama: "",
                    produk_gambar: "",
                    kategori_id: ""
                }
            ]
        }
    },
    created(){
        axios.get('http://api-nadiyati.proses.xyz/api/beranda/get')
        .then(r => {
            this.section = r.data.section1
            // console.log(this.section)
        })
    }
}
</script>
