<template>
        <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="section-title">
                <h4 class="title">Produk Terkini</h4>
                <div class="section-nav">
                    <div id="slick-nav-3" class="products-slick-nav"></div>
                </div>
            </div>
            <v-row wrap>
                <!-- product -->
                <v-col cols="6" md="2" v-for="(item, index) in section" :key="index">
                    <div class="product">
                        <div class="product-img">
                            <v-img :src="item.produk_gambar"></v-img>
                            <div class="product-label">
                                <!-- <span class="sale" v-show="item.sale!=''">{{item.sale}}</span> -->
                                <span class="new">NEW</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">Pakaian {{item.kategori.kategori_nama}}</p>
                            <h3 class="product-name"><router-link :to="'/product/'+item.produk_id">{{item.produk_nama}}</router-link></h3>
                            <p>{{item.merek.merek_nama}}</p>
                            <h4 class="product-price">RP {{item.produk_harga}}</h4>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Suka</span></button>
                            </div>
                            <div class="product-rating">
                                <i class="fa fa-star" v-for="index in Math.floor(item.produk_bintang)" :key="index"></i>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <!-- <button class="add-to-cart-btn" @click="tests()">Keranjang</button> -->
                            <button class="add-to-cart-btn">Keranjang</button>
                        </div>
                    </div>
                </v-col>
                <!-- /product -->
            </v-row>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
            section: [
                // {
                //     jenis: "Pakaian Wanita",
                //     merek: "Muslimah Okky",
                //     img: require('../../assets/foto/pakaian_wanita.jpg'),
                //     link: "/product",
                //     price: "180.000",
                //     oldprice: "220.000",
                //     status: "NEW",
                //     rating: 5
                // }
                {
                    kategori_nama: "",
                    produk_nama: "",
                    produk_gambar: "",
                    produk_harga: "",
                    produk_id: "",
                    produk_bintang: "",
                    kategori: ""
                }
            ]
        }
    },
    created(){
        axios.get('http://api-nadiyati.proses.xyz/api/beranda/get')
        .then(r => {
            this.section = r.data.section2
            console.log(this.section)
        })
    }
}
</script>
