<template>
    <div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <v-row>
            <v-col cols="12" md="4">
                <div class="section-title">
                    <h4 class="title">Pakaian Wanita Terlaris</h4>
                    <div class="section-nav">
                        <div id="slick-nav-3" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-3">
                    <div>
                        <!-- product widget -->
                        <div class="product-widget" v-for="(item, index) in section" :key="index">
                            <div class="product-img">
                                <v-img :src="item.img"></v-img>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{item.jenis}}</p>
                                <h3 class="product-name"><router-link to="/product">{{item.merek}}</router-link></h3>
                                <h4 class="product-price">RP {{item.price}} <del class="product-old-price">RP {{item.oldprice}}</del></h4>
                            </div>
                        </div>
                    </div>

                </div>
            </v-col>

            <v-col cols="12" md="4">
                <div class="section-title">
                    <h4 class="title">Pakaian Pria Terlaris</h4>
                    <div class="section-nav">
                        <div id="slick-nav-4" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-4">
                    <div>
                        <!-- product widget -->
                        <div class="product-widget" v-for="(item, index) in section2" :key="index">
                            <div class="product-img">
                                <v-img src="../../assets/foto/pakaian_pria.jpg"></v-img>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Pakaian Pria</p>
                                <h3 class="product-name"><router-link to="/product">Muslim Abyzar</router-link></h3>
                                <h4 class="product-price">RP 160.000 <del class="product-old-price">RP 200.000</del></h4>
                            </div>
                        </div>
                        <!-- /product widget -->
                    </div>
                </div>
            </v-col>

            <div class="clearfix visible-sm visible-xs"></div>

            <v-col cols="12" md="4">
                <div class="section-title">
                    <h4 class="title">Aksesoris Terlaris</h4>
                    <div class="section-nav">
                        <div id="slick-nav-5" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-5">
                    <div>
                        <!-- product widget -->
                        <div class="product-widget" v-for="(item, index) in section3" :key="index">
                            <div class="product-img">
                                <v-img src="../../assets/foto/aksesoris.jpeg"></v-img>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Aksesoris</p>
                                <h3 class="product-name"><router-link to="/product">Flannel Hitam</router-link></h3>
                                <h4 class="product-price">RP 130.000 <del class="product-old-price">RP 160.000</del></h4>
                            </div>
                        </div>
                        <!-- /product widget -->
                    </div>
                </div>
            </v-col>

        </v-row>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>
</template>
<script>
export default {
    data() {
        return {
            section: [
                {
                    jenis: "Pakaian Wanita",
                    merek: "Muslimah Okky",
                    img: require('../../assets/foto/pakaian_wanita.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000"
                },
                {
                    jenis: "Pakaian Wanita",
                    merek: "Muslimah Okky",
                    img: require('../../assets/foto/pakaian_wanita.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000"
                },
                {
                    jenis: "Pakaian Wanita",
                    merek: "Muslimah Okky",
                    img: require('../../assets/foto/pakaian_wanita.jpg'),
                    link: "/product",
                    price: "180.000",
                    oldprice: "220.000"
                }
            ],
            section2: [
                {
                    jenis: "Pakaian Pria",
                    merek: "Muslim Abyzar",
                    img: require('../../assets/foto/pakaian_pria.jpg'),
                    link: "/product",
                    price: "160.000",
                    oldprice: "200.000"
                },
                {
                    jenis: "Pakaian Pria",
                    merek: "Muslim Abyzar",
                    img: require('../../assets/foto/pakaian_pria.jpg'),
                    link: "/product",
                    price: "160.000",
                    oldprice: "200.000"
                },
                {
                    jenis: "Pakaian Pria",
                    merek: "Muslim Abyzar",
                    img: require('../../assets/foto/pakaian_pria.jpg'),
                    link: "/product",
                    price: "160.000",
                    oldprice: "200.000"
                }
            ],
            section3: [
                {
                    jenis: "Aksesoris",
                    merek: "Flannel Hitam",
                    img: require('../../assets/foto/aksesoris.jpeg'),
                    link: "/product",
                    price: "130.000",
                    oldprice: "160.000"
                },
                {
                    jenis: "Aksesoris",
                    merek: "Flannel Hitam",
                    img: require('../../assets/foto/aksesoris.jpeg'),
                    link: "/product",
                    price: "130.000",
                    oldprice: "160.000"
                },
                {
                    jenis: "Aksesoris",
                    merek: "Flannel Hitam",
                    img: require('../../assets/foto/aksesoris.jpeg'),
                    link: "/product",
                    price: "130.000",
                    oldprice: "160.000"
                }
            ]
        }
    }
}
</script>
