<template>
  <div>
    <CekEmailComponent />
  </div>
</template>
<script>
import CekEmailComponent from '../components/layout/CekEmailComponent'

export default {
  components: {
    CekEmailComponent
  }
}
</script>
