<template>
  <div>
    <HeaderComponent />
    <MenuComponent />
    <NavComponent />
    <CheckoutComponent />
    <FooterComponent />
  </div>
</template>

<script>
import HeaderComponent from '../components/layout/HeaderComponent'
import MenuComponent from '../components/layout/MenuComponent'
import NavComponent from '../components/layout/NavComponent'
import CheckoutComponent from '../components/layout/CheckoutComponent'
import FooterComponent from '../components/layout/FooterComponent'

export default {
  components: {
    HeaderComponent,
    MenuComponent,
    NavComponent,
    CheckoutComponent,
    FooterComponent
  }
}
</script>
