<template>
  <div>
    <DaftarComponent />
  </div>
</template>
<script>
import DaftarComponent from '../components/layout/DaftarComponent'

export default {
  components: {
    DaftarComponent
  }
}
</script>
