<template>
  <div>
    <HeaderComponent />
    <MenuComponent />
    <NavComponent />
    <SectionComponent />
    <SectionTwoComponent />
    <TopComponent />
    <FooterComponent />
  </div>
</template>

<script>
import HeaderComponent from '../components/layout/HeaderComponent'
import MenuComponent from '../components/layout/MenuComponent'
import NavComponent from '../components/layout/NavComponent'
import SectionComponent from '../components/layout/SectionComponent'
import SectionTwoComponent from '../components/layout/SectionTwoComponent'
import TopComponent from '../components/layout/TopComponent'
import FooterComponent from '../components/layout/FooterComponent'

export default {
  components: {
    HeaderComponent,
    MenuComponent,
    NavComponent,
    SectionComponent,
    SectionTwoComponent,
    TopComponent,
    FooterComponent
  }
}
</script>
