<template>
    <div>
        <HeaderComponent />
        <MenuComponent />
        <NavComponent />
        <ListProductComponent />
        <FooterComponent />
    </div>
</template>
<script>
import HeaderComponent from '../components/layout/HeaderComponent'
import MenuComponent from '../components/layout/MenuComponent'
import NavComponent from '../components/layout/NavComponent'
import ListProductComponent from '../components/layout/ListProductComponent'
import FooterComponent from '../components/layout/FooterComponent'

export default {
  components: {
    HeaderComponent,
    MenuComponent,
    NavComponent,
    ListProductComponent,
    FooterComponent
  }
}
</script>
