<template>
  <div>
    <LoginsComponent />
  </div>
</template>
<script>
import LoginsComponent from '../components/layout/LoginsComponent'

export default {
  components: {
    LoginsComponent
  }
}
</script>
