<template>
  <div>
    <LupaComponent />
  </div>
</template>
<script>
import LupaComponent from '../components/layout/LupaComponent'

export default {
  components: {
    LupaComponent
  }
}
</script>
