<template>
  <div>
    <HeaderComponent />
    <MenuComponent />
    <NavComponent />
    <ProductDetailComponent />
    <!-- <ProductDescComponent /> -->
    <ProductRelateComponent />
    <FooterComponent />
  </div>
</template>
<script>
import HeaderComponent from '../components/layout/HeaderComponent'
import MenuComponent from '../components/layout/MenuComponent'
import NavComponent from '../components/layout/NavComponent'
import ProductDetailComponent from '../components/layout/ProductDetailComponent'
// import ProductDescComponent from '../components/layout/ProductDescComponent'
import ProductRelateComponent from '../components/layout/ProductRelateComponent'
import FooterComponent from '../components/layout/FooterComponent'

export default {
  components: {
    HeaderComponent,
    MenuComponent,
    NavComponent,
    ProductDetailComponent,
    // ProductDescComponent,
    ProductRelateComponent,
    FooterComponent
  }
}
</script>
