<template>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <v-row>

                <v-col cols="12" md="7">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Data Pribadi</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="Nama Depan">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="Nama Belakang">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <div class="order-notes">
                                <textarea class="input" name="address" placeholder="Alamat"></textarea>
                            </div>
                            <!-- <input class="input" type="text" name="address" placeholder="Alamat"> -->
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Kota">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="Provinsi">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="Kode POS">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Nomor Telepon">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="create-account">
                                <label for="create-account">
                                    <span></span>
                                    Ubah data Profile?
                                </label>
                                <div class="caption">
                                    <router-link to="/#" class="primary-btn ">Ubah</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-col>

                <v-col cols="6" md="5" class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Riwayat Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>NO. Resi</strong></div>
                            <div><strong>Status Order</strong></div>
                            <div><strong>Tanggal</strong></div>
                        </div>
                        <div class="order-col" v-for="(item, index) in section" :key="index">
                            <div><router-link :to="item.link">{{item.resi}}</router-link></div>
                            <div>{{item.status}}</div>
                            <div>{{item.date}}</div>
                        </div>
                    </div>
                </v-col>
                <!-- /Order Details -->
            </v-row>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</template>
<script>
export default {
data() {
        return {
            checked: false,
            section: [
                {
                    resi: "18734683241287",
                    status: "Sudah berada di Kantor Pengiriman",
                    date: "19-12-2019",
                    link: "/Lacak"
                },
                {
                    resi: "3423234234241",
                    status: "Barang diterima, Selesai",
                    date: "08-11-2019",
                    link: "/Lacak"
                }
            ]
        }
    }
}
</script>
